<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
    <link rel="icon" type="image/png" href="static/images/favicon.ico"/>
    <title>XeberTap</title>

    <script>
	
		function News(source, headline, date, time) {
			this.source = source;
			this.headline = headline;
			this.date = date;
			this.time = time;
			
			this.setSource = function(newSource) {
				this.source = newSource;
			}
			
			this.getSource = function() {
				return this.source;
			}
		
		}
	
		function Site(name) {
			this.name = name;
			this.results = [];
			
			this.setResults = function(newResults) {
				this.results = newResults;
			}
			
			this.getResults = function() {
				return this.results;
			}
		}
		
		
        function toggleSidebar() {
            width = document.getElementById("sidebar-navigation").offsetWidth;

            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                if (width == 50) {
                    document.getElementById("sidebar-navigation").style.width = '100%';
                    document.getElementById("sidebar-navigation").style.background = 'rgb(245, 245, 245)'
                    document.getElementById("sidebar-navigation").style.overflowY = 'scroll';
                    document.getElementsByTagName('body')[0].style.overflow = 'hidden'
                } else {
                    document.getElementById("sidebar-navigation").style.width = "0";
                    document.getElementById("sidebar-navigation").style.background = 'none'
                    document.getElementById("sidebar-navigation").style.overflowY = 'hidden';
                    document.getElementsByTagName('body')[0].style.overflow = 'scroll'
                }
            } else {
                if (width == 50) {
                    document.getElementById("sidebar-navigation").style.width = '19.5%';
                    document.getElementById("sidebar-navigation").style.overflowY = 'scroll';
                } else {
                    document.getElementById("sidebar-navigation").style.width = "0";
                    document.getElementById("sidebar-navigation").style.overflowY = 'hidden';
                    
                }
            }
            
        }

        function modifyCards() {
            newsCards = document.getElementsByClassName('news-cards');
			newsHeader = document.getElementsByClassName('news-cards-header');
			defaultResult = false;
			
			for(i = 0; i < newsCards.length; i++) {
				newsCards[i].style.display = "none";
			}
			
			srcId = event.srcElement.id;	
			
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                for(i = 0; i < newsCards.length; i++) {
					if(newsCards[i].id == srcId){
						newsCards[i].style.display = "block";
						newsHeader[0].innerText = 'Axtarış Nəticələri: ' + newsCards[i].id;
						break;
					}
                }
                toggleSidebar();
            } else {
                for(i = 0; i < newsCards.length; i++) {
                    if(newsCards[i].id == srcId){
						newsCards[i].style.display = "block";
						newsHeader[0].innerText = 'Axtarış Nəticələri: ' + newsCards[i].id;
						break;
					}
                }
            }
        }
    </script>
</head>

<body class=".container">
    <div class="wrapper">
        <a href="index.html"><img src="static/images/XeberTapIcon.png" alt="XeberTap Icon"
                class="noselect xebertap-icon"></img></a>
        <div class="input-group mb-3">
            <form action='/intermediate' method="post">
				<input type="text" name="keyword" placeholder="Xəbər axtar">
				<input type="submit" class="seatch-btn btn btn-outline-secondary" value="Axtar">
			</form>
        </div>
    </div>
    <nav id="sidebar-navigation">
        <label class="hamburger-icon" onclick="toggleSidebar();">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <span class="navbar-header">Vebsaytlar</span>
		{% for site in sites %}
		
        <a href="#" onclick="modifyCards();" class="navigation-item" id="{{site.getName()}}">{{site.getName()}}</a>
        
		{% endfor %}
    </nav>
    <section class="news">
        <header>
            <h4 class="news-cards-header">Axtarış nəticələri: {{sites[0].getName()}}</h4>
        </header>
		
		{% for i in range(sites |length) %}
			<div class="news-cards" id="{{sites[i].getName()}}" style="display:{% if i == 0 %}block{% else %}none {% endif %}">
				
				{% for news in sites[i].getResults() %}
					<article class="card">
						<a href="{{news.getSource()}}" class="news-header" rel="noopener noreferrer" target="_blank">
							<span class="news-title">{{news.getHeadline()}}</span><br>
							<span class="news-date">{{news.getDate()}}</span>
						</a>
					</article>
				{% endfor %}
			</div>
		{% endfor %}
    </section>
</body>

</html>